/* Style for the list items */
.NestedData li {
    position: relative;
    list-style-type: none; /* Remove default bullet points */
    display: inline-block;
    vertical-align: top;
  }
  
  /* Style for the lines connecting the list items */
  .NestedData li::before {
    content: '';
    position: absolute;
    top: 0;
  }

  .NestedData ul:last-child {
    padding-bottom: 15px;
  }
  
  /* Style for the nested lists */
  .NestedData ul {
    margin-left: 0; /* Adjust the indentation of nested lists */
    padding-left: 20px;
    
  }

.folderIcons {
    display: flex;
    align-items: center;
    padding-bottom: 15px;

}

.folderIcon {
    height: 20px;
    width: 20px;

}

.addButton {
    padding: 0px;
    border: none;
    cursor: pointer;
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
}

.additional-icons {
  display: none; /* Initially hide the additional icons */
}

.additional-icons.show {
  display: flex; /* Show the additional icons */
  /* Add your animation styles here */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}