.timeline-event-container {
    position: relative;
}

.event-button {
    top: -5vh;
    position: absolute;
    width: 20px; /* Initial width */
    height: 20px; /* Initial height */
    background-color: #bbb;
    color: greenyellow;
    border: 3px solid #338;
    border-radius: 20px;
    transition: all 0.3s ease;
    z-index: 2;
}

.event-button.clicked {
    border-color: #EB8258;
    background-color: #FFBE0B;
    transform: scale(1.1);
    transform: translateY(-10vh);
  }
  
.event-range {
    position: absolute;
    height: 1vh;
    border-left: 3px solid;
    border-right: 3px solid;
    border-top: 3px solid;
    border-color: #338;
    border-radius: 3px;
}

.event-name {
    display: none;
}

.event-button.clicked .event-name {
    display: inline-block;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    top: -10%;
    left: 50%;
    transform: translate(-50%, 4vh);
}

.event-line {
    position: absolute;
    z-index: -1;
    left: 8px;
    top: 20px;
    width: 4px;
    height: 6vh;
    background-color: #338;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    z-index: -1;
}

.range-button-container {
    position: relative;
}
