.timeline-background {
    background: linear-gradient(90deg, rgba(159,39,199,1) 16%, rgba(140,84,204,1) 36%, rgba(103,68,220,1) 70%, rgba(21,107,217,1) 88%);
    height: 75vh;
    width: calc(100% - 100px);
    margin: 0 auto;
    border-radius: 15px;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
    padding-top: 28vh;
    width: calc(100% - 125px);
}

.timeline-event-container {
    position: relative;
}
.timeline-event {
    position: absolute;
    top: -5vh;
    background-color: transparent;
    background-image: url(../assets/eventMarker.png);
    border: none;
    background-size: cover;
    cursor: pointer;
    justify-content: center;
    height: 48px;
    width: 48px;
    padding: 0;
    color: white;
}

.timeline-event-name{
    position: relative;
    top: -40px;
    font-family: 'Work Sans', sans-serif;
}




.center-line {
    background-color: antiquewhite;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 50%
}

.endcap {
    background-color: antiquewhite;
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 5px;
}

.startcap {
    background-color: antiquewhite;
    height: 100%;
    width: 5px;
    position: absolute;
    left: 0px;
    top:0;
    border-radius: 5px;
}

.sub-timeline-container {
    flex: 1;

    box-sizing: border-box;
    position: relative;
    height: 10vh;
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sub-timeline-container:hover {
    background-color: rgba(180, 180, 180, 0.4);
}

.sub-timeline-container:active {
    background-color: rgba(180, 180, 180, 0.7);
}

.first-tick {
    position: absolute; 
    left: -8px;
    bottom: 0;
}

.f-inner-tick {
    position: absolute;
    transform: rotate(90deg);
    white-space: nowrap;
    transform-origin: bottom left; 
    display: inline;
    color: antiquewhite;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5vh;

}


.timeline-tick {
    position:absolute; 
    bottom: 0; 
    right: 14px;
}


.inner-tick {
    position: absolute;
    transform: rotate(90deg);
    white-space: nowrap;
    transform-origin: bottom left; 
    display: inline;
    color: antiquewhite;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5vh;
}

.sub-tick {
    background-color: antiquewhite;
    height: 50%;
    width: 3px;
    position: absolute;
    top: 27%;
    border-radius: 5px;
}

.back-button {
    height: 5vh;
    width: 5vh;
    position: absolute;
    margin: 20px;
    border: none;
    background: none;
    background-size: contain;
    cursor: pointer;
    justify-content: center;
    border-radius: 8px;
    background-image: url(../assets/backArrow.png);
    display: none;
}

.back-button:hover {
    background-color: rgba(180, 180, 180, 0.4);
}

.back-button:active {
    background-color: rgba(180, 180, 180, 0.7);
}